<!--
/**
 * @description Uploader template
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
-->

<!--
/**
 * @note Field label
 */
-->
<label class="label" if="$data.label" attr="for: uid" visible="$data.labelVisible">
    <span translate="label" attr="'data-config-scope': $data.scopeLabel"/>
</label>

<!--
/**
 * @note Field container
 */
-->
<div class="control" css="'_with-tooltip': $data.tooltip">
    <div class="file-uploader" data-role="drop-zone" css="_loading: isLoading">
        <div class="file-uploader-area">
            <input type="file" afterRender="onElementRender" attr="id: uid, name: fieldName" disable="disabled"/>
            <label class="file-uploader-button action-default" attr="for: uid" translate="'Upload'"/>
            <span class="file-uploader-spinner"/>
            <render args="fallbackResetTpl" if="$data.showFallbackReset && $data.isDifferedFromDefault"/>
        </div>

        <render args="tooltipTpl" if="$data.tooltip"/>

        <div class="field-note" if="$data.notice" attr="id: noticeId">
            <span html="notice"/>
        </div>

        <label class="field-error" if="error" attr="for: uid" text="error"/>

        <each args="data: value, as: '$file'" render="$parent.getPreviewTmpl($file)"/>

        <div class="file-uploader-summary">
            <label attr="for: uid" class="file-uploader-placeholder">
                <span class="file-uploader-placeholder-text" translate="'Click here or drag and drop to add your file.'"/>
            </label>
        </div>
    </div>

    <render args="$data.service.template" if="$data.hasService()"/>
</div>